{% for post in paginator.posts %}
<article class="home">
    <span class="post-date">
    {% assign d = post.date | date: "%m" | plus:'0' %}
    {{ post.date | date: "%d" }}.
    {% include ee_date.html %}
    {{ post.date | date: "%Y" }}
    </span>

    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} &rsaquo;</a></h2>

    <div class="article_body">
    {% if post.summary %}
        {{ post.summary }}
    {% else %}
        {{ post.content | strip_html | truncate: page.summary_length }}<br />
    {% endif %}
    </div>
</article>
{% endfor %}
<hr/>

<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;<span class="hidden-xs"> {{ page.textPrevious }}</span></a>
    </li>
    {% else %}
    <li class="previous disabled">
        <a>&larr;<span class="hidden-xs"> {{ page.textPrevious }}</span></a>
    </li>
    {% endif %}
    <li>
        <span class="page_number"><span class="hidden-xs">{{ page.textPage }}: </span>{{ paginator.page }}/{{ paginator.total_pages }}</span>
    </li>
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="hidden-xs">{{ page.textNext }} </span>&rarr;</a>
    </li>
    {% else %}
    <li class="next disabled">
        <a><span class="hidden-xs">{{ page.textNext }} </span>&rarr;</a>
    </li>
    {% endif %}
</ul>
